body{
    background: grey;
}

.logoGame{
    width: 200px;
    display: inline;
    margin-left: 80px;
    margin-bottom: 60px;
    position: relative;
}

.titulo{
    font-size: 70px;
    top: 160px;
    position: absolute;
    margin-left: 10px;
    font-weight: bold;
}

nav{
    right :40px;
    font-weight: bold;
    padding-bottom: 5px;
    position: absolute;
    top: 200px;
}

nav a{
    text-decoration: none;
    color: black;
    margin: 10px;
    font-size: 35px;
    font-weight: bold;
}

nav a:hover{
    color: blue;
    text-decoration: underline;
}

.banner{
    width: 100%;
}

.paragrafos{
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
    margin-top: 30px;
    text-align: center;
    background: goldenrod;
}

ul{
    position: absolute;
    font-size: 20px;
    margin-right: 10%;
    font-style: italic;

}

.titulo_2{
    text-align: center;
    font-size: 50px;
}

.imagem_2{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

.rodape{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}